@import url('https://webfontworld.github.io/NanumBarunGothic/NanumBarunGothic.css');

.img1{
  width: 30vw;
  height: auto;

}


.firstpage{
  background-color: rgb(154, 242, 248);
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.pagetitle{
  color:rgb(40, 212, 255);
  font-size: 50px;
  font-family: 'NanumBarunGothic';
}

.secondpage{
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.thirdpage{
  background-color: rgb(153, 153, 153);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.fifthpage{
  background-color: rgb(121, 255, 94);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Name {
  color: white;
  font-size: 5vw;
}



.endtxt3{
  padding-top: 3vh;
  color: rgb(212, 36, 36);
  font-family: Georgia, Serif;
}
.endtxt2 {
  color: aliceblue;
  padding-bottom: 3vh;
}

.enddiv {
  width: 100%;
  height: 40vh;
  background-color: #101010;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.avatarpadding {
  padding: 1vh;
}

.avatarimg{
}

.avatarimg:hover {
  cursor: pointer;
}

.avatardiv{
  display: flex;
  flex-flow: row;
}